includes:
    - vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app
        - bootstrap
        - config
        - database
        - routes
        - tests

    level: 5

    excludePaths:
        - vendor/*
        - storage/*
        - bootstrap/cache/*
