includes:
    - vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app
        - bootstrap
        - database
        - routes

    level: 10

    excludePaths:
        - vendor/*
        - storage/*
        - bootstrap/cache/*
        - database/migrations/*
